/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "KellySlab";
    src: url(/Fonts/KellySlab-Regular.ttf);
}

@font-face {
    font-family: "Tomorrow";
    src: url(/Fonts/Tomorrow-Regular.ttf);
}

@font-face {
    font-family: "PermanentMarker";
    src: url(/Fonts/PermanentMarker-Regular.ttf);
}

/* Header Styles */

header {
    font-family: "PermanentMarker";
    background-color: red;
    background-image: linear-gradient(rgb(248, 0, 0), rgb(0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-buttons--right {
    position: relative;
    left: 30%;
    display: flex;
    gap: 20px;
    align-self: flex-end;
}

.header-buttons--right a img {
    width: 6vw;
}

.logo {
    position: relative;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    
}

.logo img {
    height: 13vw;
}

.logo h1, .logo h2{
    color: white;
    font-size: 2vw;
    text-align: center;
}

/* Info-1 y Carousel */

.Info-1 {
    font-family: "KellySlab";
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 85%;
}

.Info-1 .Info-content {
    margin-bottom: 20px;
}

.Info-1 .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d61313d9;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    
}

.carousel-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carousel-item img {
    border-radius: 15px;
}

/* Body Styles */

body {
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding-bottom: 60px;
    animation: fadeIn 1s ease-in-out;
    transition: background-color 0.3s, color 0.3s;
}

/* Products Section */
.productos {
    font-family: "Tomorrow";
    padding: 2rem;
    text-align: center;

}

.productos a {
    text-decoration:none;
    color: black;
}

.productos h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #c00909;
    text-align:start;
}

.productos-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;

}

.productos-grid {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

}

.producto {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
    flex: 0 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.producto img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: black;
}

.producto p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: black;
    
}

.btn-comprar {
    background-color: #d41616d2;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-comprar:hover {
    background-color: #a00707;
}

/* Nosotros Section */

#nosotros {
    font-family: "Tomorrow";
    text-align: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 85%;
}

#nosotros h2 {
    color: #c00909;
    font-size: 2rem;
}

/* Footer/Contacto Section */

.contacto {
    font-family: "Tomorrow";
    padding: 2rem;
    text-align: center;
    background-color: #f4f4f4;
    bottom: o;
}

.contacto h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #c00909;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 1rem;
}

.redes-sociales a img {
    width: 50px;
    height: auto;
    transition: transform 0.3s;
}

.redes-sociales a img:hover {
    transform: scale(1.2);
}

/* Shopping Car Styles */

.carrito {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.carrito h3 {
    text-align: center;
     margin-top: 0;
}

.carrito ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carrito li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.shopping-cart {
    text-align: center;
}

.cart-container {
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #f4f4f4;
}

.cart-img {
    width: 50px;
}

.quantity {
    width: 50px;
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
}

.cart-summary h3 {
    margin-bottom: 10px;
}

/* Animaciones */

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated-section {
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* Al cambiar a una nueva interfaz */
.enter {
    animation-name: slideInFromRight;
}

/* Al regresar a la interfaz anterior */
.exit {
    animation-name: slideOutToLeft;
}

/* Media Query */

@media (min-width: 600px) {
    .productos-grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .logo img {
        height: 10vw;
    }

    .header-buttons--right a img {
        width: 5vw;
    }
}

@media (min-width: 768px) {
    .productos-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

}   

/* Vista para escritorio */

@media (min-width: 1024px) {
  
    body::before {
        content: "Esta vista no está disponible para esta resolución. Por favor, cambia a un dispositivo móvil.";
        position: fixed;
        background-color: #333;
        color: #fff;
        padding: 2rem;
        border-radius: 5px;
        text-align: center;
        z-index: 1000;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
}   }