:root {
    font-size: 16px;
}

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "KellySlab";
    src: url(/Fonts/KellySlab-Regular.ttf);
}

@font-face {
    font-family: "Tomorrow";
    src: url(/Fonts/Tomorrow-Regular.ttf);
}

@font-face {
    font-family: "PermanentMarker";
    src: url(/Fonts/PermanentMarker-Regular.ttf);
}

/* Header Styles */

header {
    font-family: "PermanentMarker";
    background-color: red;
    background-image: linear-gradient(rgb(248, 0, 0), rgb(0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    border-bottom-left-radius: 10% 30px;
    border-bottom-right-radius: 10% 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    width: 100%;
    flex-wrap: wrap;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    position: relative;
}

.header-buttons--right {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.header-buttons--right a img {
    width: 5vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-buttons--right a img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    width: 30%;
    text-align: center;
}

.logo img {
    height: 10vw;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: rotate(10deg) scale(1.05);
}

.logo h1, .logo h2 {
    color: white;
    font-size: 3vw;
}

/* Info-1 y Carousel */

.Info-1 {
    font-family: "KellySlab";
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 85%;
}

.Info-1 .Info-content {
    margin-bottom: 20px;
}

.Info-1 .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d61313d9;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    font-family: "Tomorrow";
}

.Info-1 .boton:hover {
    background-color: #a00707;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carousel-item img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Body Styles */

body {
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding-bottom: 60px;
    animation: fadeIn 1s ease-in-out;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Tomorrow";
    font-size: 1rem;
}

.productos a:hover, .producto h3:hover, .producto p:hover {
    color: #c00909;
    text-decoration: underline;
}

.producto:hover, .Info-1:hover, .descripcion-producto:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Products Section */

.productos {
    font-family: "Tomorrow";
    padding: 2rem;
    text-align: center;
}

.producto-2 {
    padding: 20px
}

.productos a {
    text-decoration: none;
    color: black;
}

.productos h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #c00909;
    text-align: start;
}

.productos-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
}

.productos-grid {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.producto {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
    flex: 0 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.producto img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: black;
}

.producto p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: black;
    
}

.btn-comprar {
    background-color: #d41616d2;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-comprar:hover {
    background-color: #a00707;
    transform: translateY(-2px);
}

.productos a:hover, .producto h3:hover, .producto p:hover {
    color: #c00909;
    text-decoration: underline;
}

/* Descripción Productos Section */

.galería-producto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 15%;
}

.galería-producto h2 {
    margin: 5%;
}

.text-prd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.productos-2 {
    padding: 20px;
}

.producto-container {
    flex-wrap: wrap;
    gap: 20px;
}

.producto-2 {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 5%;
}

.descripcion-producto {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5%;
    margin: 0;
}

.descripcion-producto h2 {
    font-size: 2rem;
}

.descripcion-producto p {
    font-size: 1.3rem;
    text-align: center;
}

.imagen-prd {
    max-width: 200px;
}

/* Nosotros Section */

#nosotros {
    font-family: "Tomorrow";
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 85%;
}

#nosotros h2 {
    color: #c00909;
    font-size: 2rem;
}

#nosotros a img {
    width: 40px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

#nosotros a img:hover {
    transform: scale(1.2);

}

/* Footer/Contacto Section */

.contacto {
    font-family: "Tomorrow";
    padding: 2rem;
    text-align: center;
    background-color: #f4f4f4;
}

.contacto h2 {
    color: #c00909;
    font-size: 2rem;
}

.footer {
    font-family: "Tomorrow";
    padding: 20px 10px;
    text-align: center;
    background-color: #2c2c2c;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 50px;
    clear: both;
}

.footer p {
    margin-bottom: 0.5rem;
}

.footer a {
    font-size: 18px;
    color: #c00909;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #f4f4f4;
}

.footer img {
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.footer img:hover {
    transform: scale(1.2);
}

/* Animaciones */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.producto-carrito {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.btn-eliminar {
    animation: fadeOut 0.5s ease;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Responsive (Media Queries) */

@media only screen and (max-width: 1200px) {
    .header-buttons--right a img {
        width: 7vw;
    }
    .header-buttons--right {
        flex-wrap: wrap;
    }
    .logo img {
        height: 13vw;
    }
    .logo h1, .logo h2 {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 992px) {
    header {
        justify-content: center;
    }
    .header-buttons--right {
        width: 100%;
        justify-content: center;
        padding: 15px 0;
    }
    .logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    .logo h1, .logo h2 {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 768px) {
    .producto {
        min-width: 150px;
    }
    .producto img {
        max-height: 100px;
    }
}

@media only screen and (max-width: 576px) {
    .header-buttons--right a img {
        width: 15vw;
    }
    .logo img {
        height: 20vw;
    }
    .logo h1, .logo h2 {
        font-size: 8vw;
    }
    .productos h2 {
        font-size: 1.5rem;
    }
    .Info-1 .boton {
        font-size: 0.9rem;
    }
}